a {
    text-decoration: none;
}

.title {
    background-color: #00ACC1;
    color: black;
    padding: 10px;
    font-size: 24px;
}

.title-wrapper {
    background-color: white;
    margin-bottom: 20px;
}

#white-cell {
    background-color: white;
}

.series-table-body tr:hover td, tr:hover th {
    background-color: #00ACC1;
    color: white !important;
    cursor: pointer;
}


